@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background: linear-gradient(
    rgba(189, 201, 202, 0.5),
    rgba(226, 230, 17, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
}

.section-spacing {
  margin-top: 200px;
}

.about-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

.about-me {
  flex: 1;
  padding: 10px;
}

.section-border {
  border: 1px solid black;
  width: auto;
  margin: auto 100px;
  overflow: auto;
}

.profile-pic {
  width: 80%;
}

.intro {
  margin-top: 75px;
}

.my-story,
.about-me {
  width: 500px;
  text-align: center;
  margin: auto;
}

.proficient-familiar-lang {
  display: flex;
  width: 150px;
  height: 50px;
  padding-left: 90px;
  padding-top: 70px;
}

.current-future-lang {
  display: flex;
  width: 150px;
  height: 50px;
  padding-left: 85%;
  padding-top: 50px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.floating-box {
  width: 20%;
  background-color: grey;
  box-sizing: border-box;
  border: 2px solid #3498db;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 15px;
}

.floating-box:nth-child(2) {
  background-color: white;
}

.contact {
  margin-bottom: 50px;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  padding: 2rem 0;
  border: 3px solid rgba(27, 189, 211, 0.5);
}

.info {
  font-weight: bold;
}

.contact-day {
  display: flex;
  right: 100px;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea {
  margin: 10px 0 0 0;
  width: 60%;
  min-height: 2em;
  border-radius: 10px;
  border-color: lightblue;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1rem;
  background-color: #2bce1c;
  border-color: black;
  min-width: 300px;
  cursor: pointer;
}

footer {
  font-weight: bold;
  font-size: small;
}
