.sidebar-right {
    color: white;
    position: fixed;
    left: 96.8%;
    bottom: 0px;
    top: 40px;
    width: 50px;
    border-left: 1px solid green;
}

.sidebar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60px;
}