#navbar {
  height: 3.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(230, 228, 137, 1);
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 0, 0);
}

#left-nav {
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
  list-style: none;
}

#left-nav a {
  padding: 0.9em;
  text-decoration: none;
}

#left-nav:hover {
  cursor: pointer;
  background-color: #3498db;
  border-radius: 8px;
  transition: color 1s ease, background-color 1s ease;
}

#middle-nav {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.nav-right-list {
  display: flex;
  list-style: none;
  align-items: center;
  height: 60px;
}

.nav-right-list li {
  margin-left: 20px;
}

.nav-right-list a {
  font-size: 1em;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.5s ease;
}

.upload-icon-words {
  padding: 1.2em;
}

.upload-icon-words:hover {
  background-color: #3498db;
  border-radius: 8px;
  transition: color 1s ease, background-color 1s ease;
}

#github-icon,
#linkedin-icon {
  height: 40px;
}

@media (max-width: 750px) {
  #navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.8em;
    width: 450px;
  }

  .upload-icon-words {
    display: flex;
    padding: none;
  }

  #middle-nav {
    border-bottom: 2px solid black;
  }

  .nav-right-list {
    width: 500px;
    border-bottom: 2px solid black;
  }
}
