#navbar {
  height: 3.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  background-color: rgba(230, 228, 137, 1);
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 0, 0);
}

#left-nav {
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
}

#middle-nav {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.nav-right-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-right-list li {
  margin-left: 20px;
}

.nav-right-list a {
  font-size: 1em;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.5s ease;
}

.upload-icon-words {
  padding: 12px;
}

.upload-icon-words:hover {
  background-color: rgb(31, 16, 252);
  border-radius: 8px;
  transition: color 1s ease, background-color 1s ease;
}

#github-icon,
#linkedin-icon {
  height: 40px;
}

@media (max-width: 750px) {
  #navbar {
    width: 600px;
  }
}
