.header {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: rgba(230, 228, 137, 1);
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 0, 0)
}

.left-section { 
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100px;
}

.middle-section {
  margin: -50px 850px; 
  display: flex;
  align-items: center;
}

.right-section {
  width: 1800px;
  margin-right: 1000px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*.upload-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}*/

.github-icon, .linkedin-icon {
  height: 40px;
}


